<section class='flex flex-col items-center bg-black justify-center min-h-screen text-center'>
	<h1 class='text-4xl text-white font-bold'>404 - Page Not Found</h1>
	<p class='mt-4 text-white'>Oops! The blog you're looking for doesn't seem to exist.</p>
	<img
		src='https://shotcan.com/images/2024/08/24/logo-lg05c03f0845bec8a3.png'
		alt='404 Image'
		class='mt-6 max-w-xs mx-auto'
	/>
	<a href='/' class='mt-6'>
		<button class='px-4 py-2 font-semibold text-white bg-blue-600 rounded hover:bg-blue-700'>
			Go Back to Home
		</button>
	</a>
</section>
